*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    border: 1px solid black;
    text-align: center;
    align-items: start;
    justify-content: center;    
}



form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

input {
    margin: 1rem;
}

button{
    padding: 1rem;
}